.idea
gmall-interface/target
gmall-interface/gmall-interface.iml

user-service-provider/target
user-service-provider/.idea
user-service-provider/user-service-provider.iml

order-service-consumer/target
order-service-consumer/.idea
order-service-consumer/order-service-consumer.iml


boot-user-service-provider/.mvn
boot-user-service-provider/target
boot-user-service-provider/.idea
boot-user-service-provider/boot-user-service-provider.iml

boot-order-service-consumer/target
boot-order-service-consumer/.mvn
boot-order-service-consumer/.idea
boot-order-service-consumer/boot-order-service-consumer.iml